*{
    font-family:lato,sans-serif;
    color: #000;
}
#main
    {
      background-image : url("https://images.panoramatours.com/pt/focus/68/68/1920/810/user_upload/Hotels/Wien/Hotel_Bristol_Wien_-_neben_der_Staatsoper__c__Hotel_Bristol__a_Luxury_Collection_Hotel__Vienna.jpg");
      background-repeat: no-repeat;
      background-size:100%;
    margin           : 0;
    padding          : 0;
    width            : 100%;
    height           : 100%;
    position         : absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    box-shadow: inset 40px 80px 320px black;
    z-index:-1;
    filter: blur(3px);
    
    
}

ul {
    list-style-type: none;
    position:absolute;
    left:0;
    top:-20px;
    width: 0px;
    
    z-index:1;
    height:500px;
    

  }
  
  li a {
      
    display: block;
    color: #000;
    padding: 50px 0px;
    text-decoration: none;
    background-color:black;
    color:white;
    z-index:1;
    transition:2s;

   
    
  }
  

  li a:hover {
    background-color: white;
    color:white;
   z-index:1;
   font-size:30px;
  }
body{
  overflow-y: auto;
  overflow-x: hidden;
background-image: url("https://media.istockphoto.com/vectors/abstract-gray-vector-background-vector-id1280142071?b=1&k=20&m=1280142071&s=612x612&w=0&h=ZtKYMQmovV_0XNnlB1OA0k_WO1GHvsEH8_vJAnNV-lo=");
background-size: 100%;
z-index: -5;

}
.map {
  display: flex;
  justify-content:right;
  height: 65%;
  width: 90%;
  position: absolute;
  top:800px;
  left:7%;
  box-shadow:  3px 3px 50px black;
  font-size: 23px;

}
@media only screen and(min-width:600px){
  #main{width:100% ;}
  .map{width:100%;position: absolute;left:50%}
  .rooms{width:100%}
  .cuisinemain p{position: relative;bottom: 0%;}
   
 }


.map >div {
  
  
  width: 500px;
  height: 400px;
  position: relative;
  top:10%;
  right: 5%;
  z-index: 1;
  }
  .map > div:hover{
    opacity: 0.5;
  }
  .cuisinemain{
    display: flex;
    position: absolute;
    top: 3000px;
    height: 500px;
    width: 100%;
    left: 0%;
    
  }

  .rooms {
    position: absolute;
    top:2000px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
    background-image: url("https://media.istockphoto.com/vectors/abstract-gray-vector-background-vector-id1280142071?b=1&k=20&m=1280142071&s=612x612&w=0&h=ZtKYMQmovV_0XNnlB1OA0k_WO1GHvsEH8_vJAnNV-lo=");
  }
  
  .rooms > div {
   
    position: relative;
    left: 4%;
    width: 505px;
   top: 100px;
    text-align: center;
   flex-basis:30%;
   overflow: hidden;  
   height: 300px;
   margin: -1px 5px;
  }
  .roommain{
    display: flex;
    position: absolute;
    top: 1400px;
    width: 100%;
    left: 0%;
  }
 
 
  img[target="zoom"]{
    width:100%;
    height: 300px;
    transition: all ease-in-out 0.5s;
  }
  img[target="zoom"]:hover{
    transform: scale(1.2);
    opacity: 0.8;
  }
  .cuisines {
    
    position: absolute;
    top:3700px;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;
  
  }
  
  .cuisines > div {
    
    width: 100%;
    height: 400px;
    flex-basis: 500px;
top: 0;
position: relative;
margin: -1px 5px;
  }
  img{
    width:100%;
    height: 500px;
    box-shadow: inset 0px 0px 150px black;
  }
  img[target="cui"]{
    width: 100%;
    height: 400px;
    transition: all ease-in-out 0.5s;

  }
  img[target="cui"]:hover{
    opacity: 0.8;
    transform: scale(0.9);
  
  }
  .cuisinemain p:hover{
    color: #000;
  }

