body{
  overflow-y: auto;
  overflow-x: hidden;
background-image: url("https://media.istockphoto.com/vectors/abstract-gray-vector-background-vector-id1280142071?b=1&k=20&m=1280142071&s=612x612&w=0&h=ZtKYMQmovV_0XNnlB1OA0k_WO1GHvsEH8_vJAnNV-lo=");
background-size: 100%;
z-index: -5;

}
.diwali {
      display: flex;
      flex-direction: row;
  position:absolute;
  bottom: -550%; 
  width: 15%;
  height: 9%;
  left:41% ;
  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.be{

  width: 100%;
  height: 90px;
  position:absolute;
  bottom: -520%; 
  left:0% ;
 
  color: black;
}

.ju{
  color: rgb(0, 0, 0);  
  font-size: 20px;
  position:absolute;
  bottom: -302%; 
  left:43% ;
  
  font-family: 'Lato', sans-serif;
          gap: 1%;
}

.ju:hover{
  background-color: silver;
}
.ju1{
  color:rgb(0, 0, 0);
  bottom: -300%; 
  left:49% ;
  
  font-size: 20px;
  font-family: 'Lato', sans-serif;
          gap: 1%;
          position:absolute;
  
}

.ju1:hover{
  background-color: silver;
}


    


 